<i18n>
    {
        "en": {
            "max_4": "This front-end does not support more than 4 current players (for now).",
            "chooseWinner": "Who wins? Please tick the winning card.",
            "waitingForGame": "Waiting for the game to start...",
            "notPlaying": "Pisser mode: This game is being played by your fellow card players, not by you.",
            "sameDealer": "same dealer",
            "nextDealer": "next dealer",
            "cardsOnTheTable": "show hand to everybody",
            "revealTrump": "reveal trump",
            "showToSpectator": "show cards to {spectator}",
            "showInitial": "show initial hand to everybody",
            "joinVideoCall": "If you haven't done so already, join the <a href='{url}' target='_blank'>video call</a> for this table.",
            "reviewPreviousTrick": "Review previous trick",
            "previousTrick": "Previous trick",
            "reviewedBy": "Reviewed by {name}",
            "dragToPlay": "To play a card, drag it to the middle of the card mat.",
            "unrevealCards": "unreveal cards",
            "dealingStrategy": "Dealing strategy",
            "selectDealingStrategy": "How do you want to deal the cards?",
            "waitingForDealer": "Waiting for {dealerName} to deal...",
            "reopenPreviousTrick": "Reopen previous trick",
            "collectedTricks": "Collected tricks",
            "teamName": "Team {name}"
        },
        "nl": {
            "max_4": "Deze frontend werkt (tot nog toe) niet met meer dan 4 actieve spelers.",
            "chooseWinner": "Wie wint? Tik de winnende kaart aan.",
            "waitingForGame": "Wachten op de start van het spel...",
            "notPlaying": "Pisser modus: Dit spelletje wordt gespeeld door uw medekaarters, niet door u.",
            "sameDealer": "opnieuw delen",
            "nextDealer": "volgende deler",
            "cardsOnTheTable": "gooi kaarten op tafel",
            "revealTrump": "troef blekken",
            "showToSpectator": "kaarten tonen aan {spectator}",
            "showInitial": "gedeelde kaarten tonen",
            "joinVideoCall": "Als u dat nog niet gedaan zou hebben, neem dan deel aan het <a href='{url}' target='_blank'>videogesprek</a> voor deze tafel.",
            "reviewPreviousTrick": "Vorige slag herbekijken",
            "previousTrick": "Vorige slag",
            "reviewedBy": "Herbekeken door {name}",
            "dragToPlay": "Sleep een kaart naar het midden van de kaartmat om ze te spelen.",
            "unrevealCards": "kaarten weer oprapen",
            "dealingStrategy": "Deelstrategie",
            "selectDealingStrategy": "Hoe wilt u de kaarten delen?",
            "waitingForDealer": "Wachten op {dealerName} om te delen...",
            "reopenPreviousTrick": "Vorige slag weer open leggen",
            "collectedTricks": "Opgeraapte slagen",
            "teamName": "Team {name}"
        }
    }
</i18n>

<template>
    <!-- Is this even a word, 'Card Mat'? -->
    <!-- This component is a mess. But luckily the back-end is clean 😁 -->

<div>
    <b-alert show v-if="suspended" id="waiting-message">
        {{$t('waitingForGame')}}
        <div v-html="$t('joinVideoCall', {url: videoCallUrl})"></div>
    </b-alert>
    <div class="h-100" v-else>

        <!-- NAVBAR -->

        <b-navbar variant="info">
            <b-navbar-brand class="d-none d-sm-inline">
                WDEBELEK 🍻
            </b-navbar-brand>
            <!-- FIXME: create an object with all needed info for the trick counter,
                and even better: create an API that fetches all this at once -->
            <trick-counter
                    :playing-players="playingPlayers"
                    :player-teams="playerTeams"
                    :player-secret="playerSecret"
                    :game-id="gameId"
                    :collected-tricks-disclosed="collectedTricksDisclosed"
                    @tricksClicked="showCollectedTricks"
            >
            </trick-counter>
            <b-navbar-nav class="ml-auto">

                <b-nav-item :href="videoCallUrl" target="_blank" right>
                    <i class="fa fa-video"></i>
                </b-nav-item>
                <!-- show cards -->
                <b-nav-item-dropdown right v-if="!spectator">
                    <template v-slot:button-content>
                        <i class="fa fa-eye"></i>
                    </template>
                    <b-dropdown-item v-for="spectator in spectators"
                                     :key="spectator.id"
                                     @click="showToSpectator(spectator.id)">
                         {{$t('showToSpectator', {spectator: spectator.name})}}
                    </b-dropdown-item>
                    <b-dropdown-divider v-if="spectators.length"></b-dropdown-divider>
                    <b-dropdown-item v-if="!cardsOpen" @click="revealHand" href="#">
                        {{$t('cardsOnTheTable')}}
                    </b-dropdown-item>
                    <b-dropdown-item v-if="cardsOpen" @click="showInitial" href="#">
                      {{$t('showInitial')}}
                    </b-dropdown-item>
                    <b-dropdown-item v-if="cardsOpen" @click="unrevealCards" href="#">
                      {{$t('unrevealCards')}}
                    </b-dropdown-item>
                </b-nav-item-dropdown>

                <!-- previous tricks -->
                <b-nav-item-dropdown right v-if="!spectator">
                    <template v-slot:button-content>
                        <i class="fa fa-caret-left review-request"></i>
                    </template>
                    <b-dropdown-item @click="reviewPrevious" :disabled="trickNumber < 2">
                        {{$t('reviewPreviousTrick')}}
                    </b-dropdown-item>
                    <b-dropdown-item @click="reopenPrevious" :disabled="!canReopenPreviousTrick">
                      {{$t('reopenPreviousTrick')}}
                    </b-dropdown-item>
                </b-nav-item-dropdown>

                <!-- conclude game -->
                <b-nav-item-dropdown right v-if="!spectator">
                    <template v-slot:button-content>
                        <span :class="{blink: conclusionVoteCount}" class="conclusion-request">
                        <i class="fa fa-fast-forward"></i>
                        </span>
                    </template>
                  <b-dropdown-item @click="voteDone" href="#">
                        <span v-if="conclusionVote==='done'" class="voted-conclusion">
                            <i class="fa fa-check"></i>
                        </span>
                    {{$t('nextDealer')}}
                  </b-dropdown-item>
                  <b-dropdown-item @click="voteRedeal" href="#">
                        <span v-if="conclusionVote==='redeal'" class="voted-conclusion">
                            <i class="fa fa-check"></i>
                        </span>
                        {{$t('sameDealer')}}
                    </b-dropdown-item>
                </b-nav-item-dropdown>

            </b-navbar-nav>
        </b-navbar>

        <!-- ALERTS -->

        <div class="row alert alert-danger" v-if="playingPlayers.length > 4">
            {{ $t("max_4") }}
        </div>
        <b-alert show dismissible variant="info" v-if="spectator">
            {{ $t("notPlaying") }}
        </b-alert>
        <b-alert id="waiting-for-dealer-message" show variant="warning" v-if="waitingForDealer">
          {{ $t("waitingForDealer", {"dealerName": getPlayerNameById(dealer)}) }}
        </b-alert>

        <!-- ACTUAL CARD MAT -->

        <div class="row">
            <div class="col text-center">
                <player-hand
                    v-if="rotatedPlayers[2]"
                    :trickNumber="trickNumber"
                    :player = "rotatedPlayers[2]"
                    :revealed="getRevealedCards(2)"
                ></player-hand>
            </div>
        </div>

        <div class="row playing-area">
            <div class="col-2">
                <div v-if="findSpectatorBefore(2)" class="text-center pisser">
                    {{findSpectatorBefore(2).name}}🚽
                </div>
                <player-hand
                    v-if="rotatedPlayers[1]"
                    :trickNumber="trickNumber"
                    class="float-left hand-side"
                    :player = "rotatedPlayers[1]"
                    :revealed="getRevealedCards(1)"
                ></player-hand>
                <div v-if="findSpectatorBefore(1)" class="text-center pisser">
                    {{findSpectatorBefore(1).name}}🚽
                </div>
            </div>
            <div class="col-2 other-player-card">
                <!-- Card of the player on the left -->
                <card :number='getPlayedCardByPosition(1)'
                      :class="{winner: winnerPosition === 1}"
                      @click="voteWinner(1)">
                </card>
            </div>

            <div class="col-4">
                <div class="row opposite-card-here other-player-card">
                    <!-- Card of the opposite player -->
                    <card :number='getPlayedCardByPosition(2)'
                        @click="voteWinner(2)"
                          :class="{winner: winnerPosition === 2}"
                    ></card>
                </div>
                <div class="row opposite-card-here other-player-card" v-if="spectator">
                    <!-- If I'm just watching, show card of player 0 instead of my cards.
                        FIXME: The class 'opposite-card-here' is incorrectly named. -->
                    <card :number='getPlayedCardByPosition(0)'
                          @click="voteWinner(0)"
                          :class="{winner: winnerPosition === 0}"
                    ></card>
                </div>
                <div v-else class="row my-card-here">
                    <!-- FIXME: As a workaround for #82, I call voteWinner(0) when draggable emits an unchoose,
                        instead of when card emits a click event. I don't like it this way, but it seems to work. -->
                    <draggable
                            v-model="cardPlayed"
                            group="myCards"
                            class="col throwing-area other-player-card"
                            @unchoose="voteWinner(0)"
                    >
                        <!-- The card I played -->
                        <card v-for="(cardNumber) in cardPlayed"
                              :key="cardNumber"
                              :class="{winner: winnerPosition === 0}"
                              :number="cardNumber"></card>
                    </draggable>
                </div>
            </div>

            <div class="col-2 other-player-card">
                <!-- throwing area for right player -->
                <card :number='getPlayedCardByPosition(3)'
                      @click="voteWinner(3)"
                      :class="{winner: winnerPosition === 3}"
                ></card>
            </div>

            <div class="col-2">
                <div v-if="findSpectatorBefore(3)" class="text-center pisser">
                    {{findSpectatorBefore(3).name}}🚽
                </div>
                <player-hand
                    v-if="rotatedPlayers[3] && playingPlayers.length >= 4"
                    :trickNumber="trickNumber"
                    class="float-right hand-side"
                    :player = "rotatedPlayers[3]"
                    :revealed="getRevealedCards(3)"
                ></player-hand>
                <div class="non-playing-trump" v-else>
                  <card :number="revealedTrump"></card>
                </div>
                <div v-if="findSpectatorBefore(0)" class="text-center pisser">
                    {{findSpectatorBefore(0).name}}🚽
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-center" v-if="spectator">
                <player-hand
                    v-if="rotatedPlayers[0]"
                    :trickNumber="trickNumber"
                    :player = "rotatedPlayers[0]"
                    :revealed="getRevealedCards(0)"
                ></player-hand>
            </div>
            <div v-else class="col text-center cards-to-be-played" :class="{'many-cards': myHand.length > 15}">
                <!-- These are the cards in my hand; the cards I can sort or play -->
                <draggable draggable=".playing-card"
                        v-model="myHand"
                        ghost-class="ghost"
                        @change="cardDragged"
                        group="myCards"
                        filter=".ignore-elements"
                >
                        <card v-for="(cardNumber) in myHand"
                              :class="{
                                'ignore-elements': cardPlayed.length > 0,
                                'my-trump': cardNumber === myTrump,
                              }"
                              :key="cardNumber"
                              :number="cardNumber"></card>
                </draggable>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
            <button class="quick-action btn btn-link" @click="autoSort">A-Z</button>
            <button v-if="canShowTrump" class="quick-action btn btn-link reveal-trump" @click="revealTrump">{{$t("revealTrump")}}</button>
            </div>
        </div>

        <!-- Need some better way to make clear what to do -->
        <b-alert v-if="this.trickComplete && !spectator" show>
          <span class="who-wins">{{ $t("chooseWinner") }}</span>
        </b-alert>
        <!-- FIXME: This is messy! -->
        <b-alert v-if="this.firstGame && this.trickNumber === 1 && this.cardPlayed.length === 0 && !spectator" show>{{ $t("dragToPlay") }}</b-alert>

    </div>
    <previous-trick-modal
        :trick-event="trickReviewedEvent"
        :rotated-players="rotatedPlayers"
    ></previous-trick-modal>
    <collected-tricks-modal
        :played-tricks="requestedCollectedTricks"
        :player-name="collectedTricksPlayerName"
    ></collected-tricks-modal>
    <dealing-strategy-modal :game-id="gameId" :player-secret="playerSecret" :max-cards-per-player="maxCardsPerPlayer"></dealing-strategy-modal>
</div>
</template>

<script>
    import draggable from 'vuedraggable';

    import Card from "./Card";
    import PlayerHand from "./PlayerHand";
    import TrickCounter from "./TrickCounter";
    import PreviousTrickModal from "./PreviousTrickModal";
    import DealingStrategyModal from "./DealingStrategyModal";
    import CollectedTricksModal from "./CollectedTricksModal";

    import handApi from "../api/handApi";
    import trickApi from "../api/trickApi";
    import tableApi from "../api/tableApi";
    import gameApi from "../api/gameApi";
    import playerApi from "../api/playerApi";
    import helper from "../helper";
    import revealedCardsApi from "../api/revealedCardsApi";
    import teamsApi from "../api/teamsApi";
    import routing from "../routing";

    export default {
        name: "CardMat",
        components: {
          CollectedTricksModal,
          DealingStrategyModal,
            PreviousTrickModal,
            PlayerHand,
            Card,
            TrickCounter,
            draggable
        },
        props: {
            playerSecret: {
                type: String,
                required: true
            },
            playerId: {
                type: String,
                required: true
            },
            lang: {
                type: String,
                required: true
            },
            tableId: {
                type: String,
                required: true
            },
        },
        watch: {
            trickComplete: function(val) {
                if (!val) {
                    this.winnerPosition = null;
                }
            },
            conclusionVoteCount: function(val) {
                if (!val) {
                    // if nobody requested a conclusion, I didn't either.
                    this.conclusionVote = null;
                }
            },
            waitingForDealer: function(val) {
              if (val && this.playerId === this.dealer) {
                this.$bvModal.show('dealing-strategy-modal');
              }
            }
        },
        data() {
            this.$i18n.locale = this.lang;
            return {
                myHand: [],
                // This is an array so that I can easily use draggable. But
                // this array should contain at most 1 card.
                cardPlayed: [],
                currentTrick: null,
                winnerPosition: null,
                playingPlayers: [],
                trickNumber: 0,
                gameId: null,
                players: [],
                conclusionVote: null,
                conclusionVoteCount: false,
                // shown trump
                trump: null,
                playerTeams: [],
                myTrump: null,
                revealedCards: [],
                cardsOpen: false,
                trickReviewedEvent: null,
                firstGame: true,
                revealedTrump: 0,
                waitingForDealer: false,
                dealer: null,
                totalNumberOfCards: 0,
                suspended: true,
                collectedTricksDisclosed: false,
                requestedCollectedTricks: [],
                collectedTricksPlayerName: ''
            }
        },
        methods: {
            refreshMyCards() {
              playerApi.getPersonalInfo(
                    this.tableId,
                    this.playerSecret
                ).then(result => {
                    this.myHand = result.hand;
                    this.myTrump = result.trumpCard;
                    this.cardsOpen = result.cardsOpen;
                })
            },
            updateTableState() {
              return tableApi.getTableState(this.tableId).then(result => {
                    this.trickNumber = result.trickNumber;
                    this.gameId = result.gameIdentifier;
                    this.conclusionVoteCount = result.doneVotes + result.redealVotes;
                    this.firstGame = result.firstGame;
                    this.revealedTrump = result.revealedTrump ? result.revealedTrump : 0;
                    this.dealer = result.dealer;
                    this.waitingForDealer = result.waitingForDealer;
                    this.totalNumberOfCards = result.totalNumberOfCards;
                    this.suspended = result.suspended;
                    this.collectedTricksDisclosed = result.collectedTricksDisclosed;
                })
            },
            cardDragged(evt) {
                if (evt.moved) {
                    // Sending an API call that triggers the write side
                    // every time a player drags a card to another place,
                    // might cause concurrency issues. This probably won't be
                    // a major issue because it is not really a problem if
                    // the exact order of the cards in each hand is stored
                    // in the event store. But we might have to change this
                    // over time.
                    handApi.sortHand(
                        this.gameId,
                        this.playerSecret,
                        this.myHand
                    )
                }
                if (evt.removed) {
                    this.tryPlayCard(this.cardPlayed[0]);
                }
                if (evt.added) {
                    // We could provide the new location of the card in the hand
                    // of the player as well. This would save us a sort operation.
                    let self = this;

                    trickApi.pickUpCard(
                        this.gameId,
                        this.trickNumber,
                        this.playerSecret
                    ).then( function() {
                        handApi.sortHand(
                            self.gameId,
                            self.playerSecret,
                            self.myHand
                        )
                    }).catch(err => {
                      this.updateCurrentTrick();
                      this.refreshMyCards()
                    })
                }
            },
            // returns card number, or -1 if player didn't play yet.
            getPlayedCardByPosition(pos) {
                if (this.currentTrick === null) {
                    return -1
                }

                let playerId = this.rotatedPlayerIds[pos];
                if (playerId in this.currentTrick) {
                    let cardNumber = this.currentTrick[this.rotatedPlayerIds[pos]];
                    return cardNumber
                }

                return -1
            },
            voteWinner(pos) {
                if (this.trickComplete && !this.spectator) {
                    let previousWinner = this.winnerPosition;
                    // Let's change the winner position at once, so that the user has
                    // immediate feedback.
                    this.winnerPosition = pos;
                    trickApi.voteWinner(
                        this.gameId,
                        this.trickNumber,
                        this.playerSecret,
                        this.rotatedPlayerIds[pos]
                    ).catch(
                        // Restore the previous winner in case of error.
                        // This *might* give unexpected results if the user is wildly clicking
                        // around, but then it's their own fault 😜
                        // To fix this in a cleaner way, I should create an API that
                        // retrieves the existing vote.
                        // https://gitlab.com/rva-vzw/wdebelek/-/issues/133
                        err => this.winnerPosition = previousWinner
                    )
                }
            },
            updatePlayers() {
                console.log('Updating players for ' + this.tableId);
                return tableApi.getPlayers(this.tableId).then(result => {
                    this.players = result
                })
            },
            voteRedeal() {
                if (this.conclusionVote === 'redeal') {
                    return this.invalidateConclusionVote();
                }
                this.tryVoteConclusion('redeal');
            },
            voteDone() {
                if (this.conclusionVote === 'done') {
                    return this.invalidateConclusionVote();
                }
                this.tryVoteConclusion('done');
            },
            invalidateConclusionVote() {
                gameApi.invalidateConclusionVote(this.gameId, this.playerSecret)
                    .then(res => this.conclusionVote = null)
            },
            isPlaying(playerId) {
                return this.playingPlayers.find(p => p.playerIdentifier === playerId)
            },
            revealHand() {
                handApi.revealHand(this.gameId, this.playerSecret).then(
                    res => this.cardsOpen = true
                );
            },
            autoSort() {
                this.myHand.sort(helper.compareCards);
                if (this.myHand.length === this.rotatedPlayers[0].cardsInHand) {
                    // only send sort to backend if my actual cards correspond with the cards count.
                    // This is an ugly hack to prevent sending an invalid hand to the backend.
                    handApi.sortHand(this.gameId, this.playerSecret, this.myHand)
                }
            },
            findSpectatorBefore(pos) {
                if (this.spectators.some(sp => sp.nextPos === pos)) {
                    return this.spectators.find(sp => sp.nextPos === pos);
                }
                return null;
            },
            revealTrump() {
                gameApi.revealTrump(this.gameId, this.playerSecret)
            },
            showToSpectator(spectatorId) {
                revealedCardsApi.showHandToSpectator(this.gameId, this.playerSecret, spectatorId)
            },
            getPlayerById(playerId) {
                return this.players.find(pl => pl.id === playerId)
            },
            updateRevealedCards() {
              revealedCardsApi.getRevealedCards(this.gameId, this.playerSecret).then(
                  rc => this.revealedCards = rc
              )
            },
            getRevealedCards(pos) {
                let found = this.revealedCards.find(
                    rc => rc.playerIdentifier === this.rotatedPlayerIds[pos]
                );
                return found ? found.cards : [];
            },
            showInitial() {
              handApi.showInitial(this.gameId, this.playerSecret);
            },
            updateTeams() {
                console.log('Updating teams for game ' + this.gameId);
                teamsApi.getTeams(this.gameId).then(teams => {
                    this.playerTeams = teams;
                    if (this.playerTeams.length < 4) {
                        // Make sure there's an empty one so that players can be split up again.
                        this.playerTeams.push([]);
                    }
                });
            },
            tryPlayCard(cardNumber) {
                trickApi.playCard(
                    this.gameId,
                    this.trickNumber,
                    this.playerSecret,
                    cardNumber
                ).catch(err => {
                    this.updateCurrentTrick();
                    this.refreshMyCards()
                })
            },
            updatePlayingPlayers() {
                return tableApi.getPlayingPlayers(this.tableId).then(result =>
                    this.playingPlayers = result
                )
            },
            tryVoteConclusion(conclusion) {
                let originalVote = this.conclusionVote;
                // Record conclusion vote before launching the API call, to avoid
                // that the conclusion vote is updated after it has been reset because of
                // the start of a new game.
                // Maybe this was only caused because I forgot to update the tableState when GameStarted.
                this.conclusionVote = conclusion;
                // FIXME: Restoring the original vote on error is not ideal,
                // it may be better to fetch the recorded vote via the api. But I don't have
                // such an API yet, so I guess this will do.
                gameApi.voteConclusion(this.gameId, this.playerSecret, conclusion).catch(
                    err => this.conclusionVote = originalVote
                )
            },
            reviewPrevious() {
                trickApi.reviewPreviousTrick(this.gameId, this.trickNumber - 1, this.playerSecret)
            },
            unrevealCards() {
                handApi.unrevealCards(this.gameId, this.playerSecret).then(
                    () => this.cardsOpen = false
                )
            },
            getPlayerNameById(playerId) {
              let player = this.getPlayerById(playerId);
              return player ? player.name : '(???)';
            },
            updateCurrentTrick() {
              return trickApi.getCurrentTrick(this.tableId).then((result) => {
                this.currentTrick = result;
                this.cardPlayed = this.currentTrick && this.playerId in this.currentTrick
                    ? [this.currentTrick[this.playerId]] : [];
              })
            },
            reopenPrevious() {
              trickApi.reopenTrick(this.gameId, this.trickNumber - 1, this.playerSecret)
            },
            showCollectedTricks(teamNr) {
              let playerId = this.playerTeams[teamNr][0]
              trickApi.getCollectedTricksByTeam(this.gameId, playerId).then(
                  res => {
                    this.collectedTricksPlayerName = this.getPlayerNameById(playerId);
                    this.requestedCollectedTricks = res;
                    this.$bvModal.show('collected-tricks-modal');
                  }
              )
            }
        },
        computed: {
            rotatedPlayers() {
                let myIndex = this.playingPlayers.findIndex(player =>
                    player.playerIdentifier === this.playerId
                );
                if (myIndex === -1) {
                    return this.playingPlayers;
                }
                let players = this.playingPlayers;
                players.push.apply(players, players.splice(0, myIndex));
                return players;
            },
            rotatedPlayerIds() {
                return this.rotatedPlayers.map(
                    function (player) {
                        return player.playerIdentifier
                    }
                )
            },
            trickComplete() {
                return this.playingPlayers && this.currentTrick && Object.keys(this.currentTrick).length === this.playingPlayers.length;
            },
            spectator() {
                return !this.isPlaying(this.playerId);
            },
            spectators() {
                // FIXME: This is way to convoluted. Maybe create a read model for this.
                let self = this;
                return this.players.length <= 4 ? [] : this.players.filter(pl => !(self.rotatedPlayerIds.includes(pl.id))).map(
                    function (pl) {
                        let key = self.players.findIndex(player => player.id === pl.id);
                        let nextPlayer = self.players[(key + 1) % self.players.length];
                        // player next to spectator is always playing, as specified by the rules of rijk van afdronk.
                        pl.nextPos = self.rotatedPlayerIds.findIndex(id => id === nextPlayer.id);

                        return pl;
                    }
                )
            },
            videoCallUrl() {
                return routing.getRoute(
                    'wdebelek.chat', {
                        tableId: this.tableId
                    }
                )
            },
            canShowTrump() {
                return this.rotatedPlayers[0] && this.myTrump > 0 && this.trickNumber === 1
                    && this.rotatedPlayers[0].shownTrump === null
                    && !this.revealedTrump
            },
            maxCardsPerPlayer() {
              return this.playingPlayers.length === 0 ? 0 : this.totalNumberOfCards/this.playingPlayers.length;
            },
            canReopenPreviousTrick() {
              return Object.keys(this.currentTrick).length === 0 && this.trickNumber > 1;
            }
        },
        mounted() {
            if (this.tableId) {
                this.updateTableState()
                    .then(res => this.updatePlayingPlayers())
                    .then(res => {
                        this.updateTeams();
                        this.updateRevealedCards()
                    });
                this.refreshMyCards();
            }
        },
        created() {
            console.log('CardMat for table ' + this.tableId);
            this.updateCurrentTrick();
            this.updatePlayers();

            // FIXME: This is messy! It would be nice if we could make this created() method shorter.

            const hubUrl = tableApi.getHubUrl(this.tableId).then(
                hubUrl => {
                    console.log('Hub at ' + hubUrl);
                    const u = new URL(hubUrl);
                    let topic = 'https://table.rijkvanafdronk.be/'+this.tableId;

                    console.log('Topic: ' + topic);

                    u.searchParams.append('topic', topic);

                    const es = new EventSource(u);

                    es.onmessage = e => {
                        console.log(e);
                        let ev = JSON.parse(e.data);

                        // FIXME: Using php class names here is not ideal.
                        switch (ev.eventType) {
                            case "App\\Domain\\WriteModel\\Game\\Event\\VotedConclusion":
                                ++this.conclusionVoteCount;
                                break;
                            case "App\\Domain\\WriteModel\\Game\\Event\\ConclusionVoteInvalidated":
                                --this.conclusionVoteCount;
                                break;
                            case "App\\Domain\\WriteModel\\Game\\Event\\PlayersTeamedUp":
                                this.updateTeams();
                                break;
                            case "App\\Domain\\WriteModel\\Table\\Event\\InvitationAccepted":
                            case "App\\Domain\\WriteModel\\Table\\Event\\PlayerKicked":
                                this.updatePlayers();
                                break;
                            case "App\\Domain\\WriteModel\\Game\\Event\\InitialHandShown":
                                this.refreshMyCards();
                                this.updateRevealedCards();
                                break;
                            case "App\\Domain\\WriteModel\\Game\\Event\\TrickWon":
                            case "App\\Domain\\WriteModel\\Game\\Event\\TrickReopened":
                                this.updateCurrentTrick();
                            case "App\\Domain\\WriteModel\\Game\\Event\\CardsCutAfter":
                                // need updating table state so that game number gets through when GameStarted.
                                // need updating players for trick count (TrickWon)
                                this.updateTableState().then( res =>
                                    this.updatePlayingPlayers().then(
                                        res => this.updateTeams()
                                    )
                                );
                                break;
                            case "App\\Domain\\WriteModel\\Game\\Event\\Dealt":
                                // update playing players again when dealt, to make sure
                                // that the card count is up to date.
                                this.updatePlayingPlayers();
                                this.refreshMyCards();
                                this.waitingForDealer = false;
                                break;
                            case "App\\Domain\\WriteModel\\Game\\Event\\TrumpRevealed":
                                this.updatePlayingPlayers();
                                // FIXME: refreshing my cards is overkill to just make 'canRevealTrump' false.
                                this.refreshMyCards();
                                break;
                            case "App\\Domain\\WriteModel\\Game\\Event\\TrickReviewed":
                                this.trickReviewedEvent = ev;
                                this.$bvModal.show('prev-trick-modal');
                                break;
                            case "App\\Domain\\WriteModel\\Table\\Event\\CardsCollected":
                              // I could refresh the table state here, but let's quickly do it this way.
                              this.waitingForDealer = false;
                              this.refreshMyCards();
                            case "App\\Domain\\WriteModel\\Table\\Event\\HandReveiled":
                            case "App\\Domain\\WriteModel\\Table\\Event\\CardsPickedUp":
                                // I could as well clear the revealed cards in the javascript, instead of refetching.
                                this.updateRevealedCards();
                                break;
                            case "App\\Domain\\WriteModel\\Game\\Event\\NonPlayingTrumpRevealed":
                            case "App\\Domain\\WriteModel\\Table\\Event\\DealerChanged":
                                // HACK ALERT: hack for #172. Make waiting for dealer false here...
                                this.waitingForDealer = false;
                                // so that it becomes 'true' again when updating table state, which will pop
                                // up the dealing strategy dialog.
                            case "App\\Domain\\WriteModel\\Table\\Event\\TableSuspended":
                                this.updateTableState();
                                break;
                          default:
                                this.updateCurrentTrick();
                                this.updateRevealedCards();
                                // Number of cards in hands typically updates when playing/picking up a card.
                                this.updatePlayingPlayers();
                        }
                    }
                }
            );
        }
    }
</script>

<style scoped>
    /*
       These heights are based on some trial and error; feel free to improve.
       On low-width screens, I make the playing area smaller, because the player's
       own cards will need more space.
     */
    @media only screen and (max-width : 575px) {
        .playing-area {
            height: 250px;
        }
        .cards-to-be-played {
            font-size: 60px;
        }
        .other-player-card {
            font-size: 60px;
        }
        .hand-side {
            min-height: 200px;
        }
        .non-playing-trump {
          font-size: 60px;
        }
        .many-cards {
          font-size: 45px !important
        }
    }

    @media only screen and (min-width : 575px) {
        .playing-area {
            height: 400px;
        }
        .cards-to-be-played {
            font-size: 80px;
        }
        .other-player-card {
            font-size: 120px;
        }
        .hand-side {
            min-height: 350px;
        }
        .non-playing-trump {
          font-size: 80px;
        }
        .many-cards {
          font-size: 55px !important
        }
    }

    .ghost {
        opacity: 0.2;
    }
    .throwing-area {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .my-card-here {
        height: 50%;
    }
    .opposite-card-here {
        height: 50%;
    }
    .other-player-card {
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .winner {
        background-color: lightgrey;
    }
    .navbar {
        margin-bottom: 1ex;
    }
    .blink {
        animation: blinker 1s linear infinite;
    }
    @keyframes blinker {
        50% { opacity: 0; }
    }
    .quick-action {
        font-size: large
    }
    .my-trump {
        background-color: yellow;
    }
</style>
