<template>
   <!-- Don't show anything if card number negative -->
   <span v-if="number >= 0"
           class="playing-card"
           :class="{
               'red-card': 1 === suit || 2 === suit,
               'reversed-card': 0 === number
            }"
           :data-card-number="this.number"
            @click="$emit('click')"
   >{{formatted}}</span>
</template>

<script>

    export default {
       name: "Card.vue",
       props: {
           number: {
              type: Number,
              required: true
           }
       },
       computed: {
          suit() {
             return Math.floor((this.number - 1)/13);
          },
          formatted() {
             // card 0 is an unknown card.
             if (0 === this.number) {
                return String.fromCodePoint(0x1F0A0);
             }
             let rank = (this.number - 1)%13 + 1;

             let code = 0x1F0A0 + 0x10*this.suit + rank;
             if (rank > 11) {
                code = code + 1;
             }

             return String.fromCodePoint(code);
          }
       }
    }
</script>

<style scoped>
   @font-face {
      font-family: 'DejaVu Sans';
      src: local('DejaVu Sans'), url('~dejavu-fonts-ttf/ttf/DejaVuSans.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
   }
   @font-face {
      font-family: 'DejaVu Sans';
      src: local('DejaVu Sans'), url('~dejavu-fonts-ttf/ttf/DejaVuSans-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
   }
   @font-face {
      font-family: 'DejaVu Sans';
      src: local('DejaVu Sans'), url('~dejavu-fonts-ttf/ttf/DejaVuSans-Oblique.ttf') format('truetype');
      font-weight: normal;
      font-style: italic;
   }
   @font-face {
      font-family: 'DejaVu Sans';
      src: local('DejaVu Sans'), url('~dejavu-fonts-ttf/ttf/DejaVuSans-BoldOblique.ttf') format('truetype');
      font-weight: bold;
      font-style: italic;
   }
   @font-face {
      font-family: 'DejaVu Sans Condensed';
      src: local('DejaVu Sans Condensed'), url('~dejavu-fonts-ttf/ttf/DejaVuSansCondensed.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
   }
   @font-face {
      font-family: 'DejaVu Sans Condensed';
      src: local('DejaVu Sans Condensed'), url('~dejavu-fonts-ttf/ttf/DejaVuSansCondensed-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
   }
   @font-face {
      font-family: 'DejaVu Sans Condensed';
      src: local('DejaVu Sans Condensed'), url('~dejavu-fonts-ttf/ttf/DejaVuSansCondensed-Oblique.ttf') format('truetype');
      font-weight: normal;
      font-style: italic;
   }
   @font-face {
      font-family: 'DejaVu Sans Condensed';
      src: local('DejaVu Sans Condensed'), url('~dejavu-fonts-ttf/ttf/DejaVuSansCondensed-BoldOblique.ttf') format('truetype');
      font-weight: bold;
      font-style: italic;
   }
   @font-face {
      font-family: 'DejaVu Sans Mono';
      src: local('DejaVu Sans Mono'), url('~dejavu-fonts-ttf/ttf/DejaVuSansMono.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
   }
   @font-face {
      font-family: 'DejaVu Sans Mono';
      src: local('DejaVu Sans Mono'), url('~dejavu-fonts-ttf/ttf/DejaVuSansMono-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
   }
   @font-face {
      font-family: 'DejaVu Sans';
      src: local('DejaVu Sans Mono'), url('~dejavu-fonts-ttf/ttf/DejaVuSansMono-Oblique.ttf') format('truetype');
      font-weight: normal;
      font-style: italic;
   }
   @font-face {
      font-family: 'DejaVu Sans Mono';
      src: local('DejaVu Sans Mono'), url('~dejavu-fonts-ttf/ttf/DejaVuSansMono-BoldOblique.ttf') format('truetype');
      font-weight: bold;
      font-style: italic;
   }
   @font-face {
      font-family: 'DejaVu Serif';
      src: local('DejaVu Serif'), url('~dejavu-fonts-ttf/ttf/DejaVuSerif.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
   }
   @font-face {
      font-family: 'DejaVu Serif';
      src: local('DejaVu Serif'), url('~dejavu-fonts-ttf/ttf/DejaVuSerif-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
   }
   @font-face {
      font-family: 'DejaVu Serif';
      src: local('DejaVu Serif'), url('~dejavu-fonts-ttf/ttf/DejaVuSerif-Italic.ttf') format('truetype');
      font-weight: normal;
      font-style: italic;
   }
   @font-face {
      font-family: 'DejaVu Serif';
      src: local('DejaVu Serif'), url('~dejavu-fonts-ttf/ttf/DejaVuSerif-BoldItalic.ttf') format('truetype');
      font-weight: bold;
      font-style: italic;
   }
   @font-face {
      font-family: 'DejaVu Serif Condensed';
      src: local('DejaVu Serif Condensed'), url('~dejavu-fonts-ttf/ttf/DejaVuSerifCondensed.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
   }
   @font-face {
      font-family: 'DejaVu Serif Condensed';
      src: local('DejaVu Serif Condensed'), url('~dejavu-fonts-ttf/ttf/DejaVuSerifCondensed-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
   }
   @font-face {
      font-family: 'DejaVu Serif Condensed';
      src: local('DejaVu Serif Condensed'), url('~dejavu-fonts-ttf/ttf/DejaVuSerifCondensed-Italic.ttf') format('truetype');
      font-weight: normal;
      font-style: italic;
   }
   @font-face {
      font-family: 'DejaVu Serif Condensed';
      src: local('DejaVu Serif Condensed'), url('~dejavu-fonts-ttf/ttf/DejaVuSerifCondensed-BoldItalic.ttf') format('truetype');
      font-weight: bold;
      font-style: italic;
   }
   @font-face {
      font-family: 'DejaVu Math TeX Gyre';
      src: local('DejaVu Sans Condensed'), url('~dejavu-fonts-ttf/ttf/DejaVuMathTeXGyre.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
   }
   span.playing-card {
      text-align: center;
      line-height: 1.4em;
      font-family: DejaVu Sans
   }
   .red-card {
      color: darkred;
   }
   .reversed-card {
      color: darkblue;
   }
</style>
