<template>
  <b-modal ok-only id="collected-tricks-modal" :title="$t('teamName', {name: playerName})">
    <div class="row" v-for="(trick,index) in playedTricks" :key="index">
      <span class="col">
      <card v-for="(cardNumber,playerId) in trick" :key="playerId" :number="cardNumber"></card>
      </span>
    </div>
  </b-modal>
</template>

<script>
import Card from "./Card";

export default {
  name: "CollectedTricksModal",
  components: {
    Card
  },
  props: {
    playedTricks: {
      type: Array,
      required: true
    },
    playerName: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
.playing-card {
  font-size: 80px
}
</style>