<template>
  <b-modal
      ok-only id="dealing-strategy-modal"
      :title="$t('dealingStrategy')"
      @ok="deal"
      no-close-on-esc no-close-on-backdrop hide-header-close
  >
    <div class="row">
      <span class="col">
        <div>{{$t('selectDealingStrategy')}}</div>
        <b-form-select v-model="selectedStrategy" :options="sensibleStrategies"></b-form-select>
      </span>
    </div>
  </b-modal>
</template>

<script>
import gameApi from "../api/gameApi";

export default {
  name: "DealingStrategyModal.vue",
  props: {
    playerSecret: {
      type: String,
      required: true
    },
    gameId: {
      type: String,
      required: false
    },
    maxCardsPerPlayer: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      selectedStrategy: null,
      strategies: [
        {text: '4-4-4-5', value: [4, 4, 4, 5]},
        {text: '4-4-4-4', value: [4, 4, 4, 4]},
        {text: '5-5-5', value: [5, 5, 5]},
        {text: '4-5-5', value: [4, 5, 5]},
        {text: '4-4-5', value: [4, 4, 5]},
        {text: '4-4-4', value: [4, 4, 4]},
        {text: '3-4-4', value: [3, 4, 4]},
        {text: '3-3-4', value: [3, 3, 4]},
        {text: '4-5', value: [4, 5]},
        {text: '4-4', value: [4, 4]},
        {text: '3-4', value: [3, 4]},
        {text: '3-3', value: [3, 3]},
        {text: '5', value: [5]},
        {text: '4', value: [4]},
        {text: '3', value: [3]},
        {text: '2', value: [2]},
        {text: '1', value: [1]}
      ]
    }
  },
  computed: {
    sensibleStrategies() {
      return this.strategies.filter(s => s.value.reduce((sum, num) => {return sum + num}) <= this.maxCardsPerPlayer)
    }
  },
  methods: {
    deal() {
      gameApi.deal(
          this.gameId,
          this.selectedStrategy,
          this.playerSecret
      )
    }
  },
  watch: {
    maxCardsPerPlayer: function(val) {
      this.selectedStrategy = this.sensibleStrategies.length > 0 ? this.sensibleStrategies[0].value: null;
    }
  }
}
</script>

<style scoped>

</style>