<i18n>
{
  "en": {
    "games_dealt": "games dealt",
    "active_tables": "active tables"
  },
  "nl": {
    "games_dealt": "aantal keer gedeeld",
    "active_tables": "actieve tafels"
  }
}
</i18n>

<template>
  <div>
    <canvas id="myChart"></canvas>
  </div>
</template>

<script>

import Chart from 'chart.js';
import statsApi from "../api/statsApi";

export default {
  name: "MonthlyStats",
  props: {
    lang: {
      type: String,
      required: true
    }
  },
  data() {
    this.$i18n.locale = this.lang;
    return {
      dataRows: [],
      chart: null
    }
  },
  computed: {
    chartLabels() {
      return this.dataRows.map(r => `${r.month.year}-${r.month.month}`);
    },
    chartSets() {
      return [
        {
          label: this.$t('games_dealt'),
          data: this.dataRows.map(r => r.totalGames),
          borderColor: 'red',
          yAxisID: 'y-axis-1'
        },
        {
          label: this.$t('active_tables'),
          data: this.dataRows.map(r => r.totalTables),
          borderColor: 'blue',
          yAxisID: 'y-axis-2'
        }
      ]
    }
  },
  methods: {
    fetchDataRows() {
      return statsApi.getMonthlyTotals().then(res => {this.dataRows = res});
    }
  },
  created() {
    this.fetchDataRows().then(
        () => {
          let ctx = document.getElementById('myChart').getContext('2d');
          this.chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
              labels: this.chartLabels,
              datasets: this.chartSets
            },
            // Configuration options go here
            options: {
              scales: {
                yAxes: [{
                  id: 'y-axis-1',
                  type: 'linear'
                }, {
                  id: 'y-axis-2',
                  type: 'linear',
                  position: 'right'
                }]
              }
            }
          });
        }
    )
  }
}
</script>

<style scoped>

</style>