<template>
    <!-- hand of a player that isn't you -->
    <div class="player-hand" style="min-width:54px" :data-player="player.playerIdentifier">
        <span class="h3 d-inline d-sm-block text-center" :class="{'font-weight-bold': player.lastPlayer}">
            <!-- Show short name to make it work on phones -->
            {{ name.substring(0, 3) }}
        </span>

        <span>
            <card v-for="(cardNumber,index) in cards" :key="index"
                  :number="cardNumber"
                  :class="{
                      trump: trump > 0 && cardNumber === trump || trickNumber === 1 && revealed.length === 0 && player.lastPlayer && index === cardsCount - 1,
                      revealed: cardNumber > 0 && cardNumber !== trump
                  }"
            ></card>
        </span>

    </div>
</template>

<script>
    import Card from "./Card";
    import helper from "../helper";

    export default {
        name: "PlayerHand",
        components: {
            Card,
        },
        props: {
            player: {
                type: Object,
                required: true
            },
            trickNumber: {
                type: Number,
                required: true
            },
            revealed: {
                type: Array,
                required: true
            }
        },
        computed: {
            name() { return this.player.playerName },
            cardsCount() { return Math.max(this.player.cardsInHand, this.revealed.length) },
            sortedRevealed() {
                let cards = this.revealed;
                cards.sort(helper.compareCards);

                return cards;
            },
            trump() { return this.player.shownTrump ?? 0 },
            cards() {
                let cardsToBeShown = [...this.sortedRevealed];

                if (this.trump > 0 && !cardsToBeShown.includes(this.trump)) {
                    // FIXME (#105): shouldn't show trump when trump is on the table.
                    cardsToBeShown.push(this.trump);
                }

                return [...Array(this.cardsCount).keys()].map(
                    n => n >= (this.cardsCount - cardsToBeShown.length)
                        ? cardsToBeShown[n - this.cardsCount + cardsToBeShown.length] : 0
                )
            }
        }
    }
</script>

<style scoped>
    @media only screen and (max-width : 575px) {
        .revealed {
            font-size: x-large
        }
        .trump {
            font-size: xx-large
        }
    }
    @media only screen and (min-width: 575px) {
        .revealed {
            font-size: 30px
        }
        .trump {
            font-size: 40px
        }
    }
    @media only screen and (min-width: 992px) {
        .revealed {
            font-size: 45px
        }
        .trump {
            font-size: 60px
        }
    }
</style>
