<template>
    <b-modal ok-only id="prev-trick-modal" :title="$t('previousTrick')">
        <div class="row">
            <span class="col">
                {{$t('reviewedBy', {name: reviewerName })}}
            </span>
        </div>
        <div class="row">
            <span class="col"></span>
            <span class="col"><card :number="rotatedCards[2]"></card></span>
            <span class="col"></span>
        </div>
        <div class="row">
            <span class="col"><card :number="rotatedCards[1]"></card></span>
            <span class="col"></span>
            <span class="col"><card :number="rotatedCards[3]"></card></span>
        </div>
        <div class="row">
            <span class="col"></span>
            <span class="col"><card :number="rotatedCards[0]"></card></span>
            <span class="col"></span>
        </div>
    </b-modal>
</template>

<script>
import Card from "./Card";

export default {
    name: "PreviousTrickModal",
    components: {
        Card
    },
    props: {
        // FIXME: create a better DTO for this prop
        trickEvent: {
            type: Object
        },
        rotatedPlayers: {
            type: Array,
            required: true
        }
    },
    computed: {
        rotatedCards() {
            return this.rotatedPlayers.map(pl => this.getCardByPlayer(pl.playerIdentifier))
        },
        reviewerName() {
            return this.trickEvent ?
                this.getNameByPlayer(this.trickEvent.reviewer) : '???';
        }
    },
    methods: {
        getCardByPlayer(playerId) {
            return (this.trickEvent && this.trickEvent.trick[playerId]) ? this.trickEvent.trick[playerId] : 0;
        },
        getNameByPlayer(playerId) {
            let player = this.rotatedPlayers.find(p => p.playerIdentifier === this.trickEvent.reviewer);

            return player ? player.playerName: '???';
        }
    }
}
</script>

<style scoped>
.playing-card {
    font-size: 80px
}
</style>
