<template>
    <b-card
        :border-variant="me ? 'primary' : (empty ? 'secondary' : 'success')"
        :header-border-variant="me ? 'primary' : 'secondary'"
        :header-bg-variant="me ? 'primary' : ''"
        :header-text-variant="me ? 'white' : ''"
        align="center"
        :data-seat="seatNumber"
    >
        <template v-slot:header>
            {{ empty ? $t('unknown') : seat.playerName }}
            <button class="btn kick-button" v-if="!empty" @click="kickPlayer(playerIdentifier)">
                <i class="fa fa-trash"></i>
            </button>
        </template>
        <b-card-text>
            <div>
                <div v-if="invitationLink">
                    <b-form-group :label="$t('invitation') + ':'">
                        <div class="input-group">
                            <input
                                readonly="readonly"
                                type="text"
                                class="form-control"
                                :value="invitationLink"
                                :name="'invitation_' + seatNumber"
                                :id="'invitation_' + seatNumber"
                            />
                            <b-button :title="$t('share')"  v-if="canShare()" @click="share(invitationLink)"><i class="fa fa-share"></i></b-button>
                            <b-button :title="$t('copy')" v-else @click="copyLink"><i class="fa fa-copy"></i></b-button>
                            <b-toast no-close-button :id="'copied-toast_' + seatNumber" auto-hide-delay="500">
                                {{$t('copied')}}
                            </b-toast>
                        </div>
                    </b-form-group>
                    <b-form-group>
                        <b-form-radio-group v-model="invitationPrivacy">
                            <b-form-radio :class="'private-radio_'+seatNumber" value="private">{{$t('private')}}</b-form-radio>
                            <b-form-radio :class="'public-radio_'+seatNumber" value="public">{{$t('public')}}</b-form-radio>
                        </b-form-radio-group>
                    </b-form-group>
                </div>
                <div v-else>
                    <div class="display-1"><i class="far fa-user"></i></div>
                    <div class="text-success">({{$t('accepted')}})</div>
                </div>
            </div>
        </b-card-text>
    </b-card>
</template>

<script>
import organizerApi from "../api/organizerApi";
import invitationApi from "../api/invitationApi";

export default {
    name: "Seat.vue",
    data() {
        return {
            invitationPrivacy: 'private'
        }
    },
    props: {
        me: {
            type: Boolean,
            required: false
        },
        seat: {
            type: Object,
            required: false
        },
        secrets: {
            type: Object,
            required: true
        }
    },
    watch: {
        invitationPrivacy(value) {
            this.changeInvitationPrivacy(value);
        },
        "seat.invitationPrivacy": function(value) {
            this.invitationPrivacy = value;
        }
    },
    computed: {
        empty() {
            return !(this.seat && this.seat.playerIdentifier);
        },
        invitationLink() {
            return this.seat && this.seat.invitationUrl
                ? this.seat.invitationUrl.trim() : null
        },
        seatNumber() {
            return this.seat ? this.seat.seat : ''
        },
        playerIdentifier() {
            return this.seat ? this.seat.playerIdentifier : null;
        }
    },
    methods: {
        canShare() {
            return navigator.share;
        },
        share(url) {
            // Credits: https://alligator.io/js/web-share-api/
            if (navigator.share) {
                navigator.share({
                    title: this.$t('share_title'),
                    text: this.$t('share_text'),
                    url: url
                }).then(() => {
                    console.log('Thanks for sharing!');
                })
                    .catch(err => {
                        alert(err);
                    });
            } else {
                console.log('web share not supported');
            }
        },
        copyLink() {
            // Credits: https://www.w3schools.com/howto/howto_js_copy_clipboard.asp

            let copyText = document.getElementById('invitation_' + this.seatNumber);

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/

            /* Copy the text inside the text field */
            document.execCommand("copy");

            this.$bvToast.show('copied-toast_' + this.seatNumber);
        },
        kickPlayer(id) {
            organizerApi.kickPlayer(this.secrets.tableSecret, id, this.secrets.playerSecret)
        },
        changeInvitationPrivacy(newPrivacy) {
            switch (newPrivacy) {
                case 'public':
                    invitationApi.publishInvitation(
                        this.secrets.tableSecret,
                        this.seat.invitation,
                        this.secrets.playerSecret
                    );
                    break
                case 'private':
                    invitationApi.unpublishInvitation(
                        this.secrets.tableSecret,
                        this.seat.invitation,
                        this.secrets.playerSecret
                    );
                    break
            }
        }
    }
}
</script>

<style scoped>

</style>
