<i18n>
   {
      "en": {
            "players_at_table": "Your table",
            "invite": "Invite player",
            "name": "Name",
            "status": "Status",
            "invitation": "Invitation",
            "unknown": "(empty chair)",
            "accepted": "ready to play",
            "share": "share",
            "share_title": "Wanna play cards?",
            "share_text": "You are invited to play cards! #wdebelek",
            "invitation_info": "You can start playing as soon as there are {minPlayerCount} people at your table. So share at least {invitationsToShare} more invitation link(s) with fellow players. Public invitations will be announced on the home page.",
            "dealer": "dealer",
            "selectInitialDealer": "Dealer?",
            "prepareGame": "Start game",
            "goToTable": "To your table!",
            "fiftyTwoCards": "52 cards",
            "thirtyTwoCards": "32 cards",
            "game_name": "Which game are you going to play?",
            "game_name_info": "This will be shown on the invitations for your fellow players.",
            "video_call": "Video call",
            "privacy": "Privacy",
            "private": "private",
            "public": "public",
            "copy": "copy",
            "copied": "copied"
     },
     "nl": {
            "players_at_table": "Uw tafel",
            "invite": "Speler uitnodigen",
            "name": "Naam",
            "status": "Status",
            "invitation": "Uitnodiging",
            "unknown": "(lege stoel)",
            "accepted": "klaar om te spelen",
            "share": "delen",
            "share_title": "Kaartje leggen?",
            "share_text": "U bent uitgenodigd om mee te kaarten! #wdebelek",
            "invitation_info": "Van zodra u met {minPlayerCount} aan tafel zit, kunt u kaarten. Bezorg dus nog minstens {invitationsToShare} van onderstaande uitnodigingslinks aan andere spelers. Publieke uitnodigingen worden getoond op de homepagina.",
            "dealer": "deler",
            "selectInitialDealer": "Wie deelt?",
            "prepareGame": "Spel starten",
            "goToTable": "Naar uw tafel...",
            "fiftyTwoCards": "52 kaarten",
            "thirtyTwoCards": "32 kaarten",
            "game_name": "Welk kaartspel wilt u spelen?",
            "game_name_info": "Dit zal getoond worden in de uitnodigingen voor uw medespelers.",
            "video_call": "Videogesprek",
            "privacy": "Privacy",
            "private": "privé",
            "public": "openbaar",
            "copy": "kopiëren",
            "copied": "gekopieerd"
        }
   }
</i18n>

<template>
   <div>
      <div class="row">
         <div class="col-9">
            <h1>{{$t("players_at_table")}}</h1>
         </div>
         <div align="right" class="col-3">
             <b-button :href="videoCallUrl" target="_blank">{{ $t('video_call') }}</b-button>
         </div>
      </div>
      <div class="row">
           <div class="col">
               <label for="input-game-name">{{ $t('game_name') }}</label>
               <b-form-input
                   id="input-game-name"
                   v-model="gameName"
                   aria-describedby="input-game-name-help"
                   maxLength="30"
                   @blur="gameNameChanged"
                   :state="gameNameState"
                   ></b-form-input>
               <b-form-text id="input-game-name-help">{{$t("game_name_info")}}</b-form-text>
               <br />
           </div>
      </div>

      <b-form class="form-inline">
         <b-form-group v-if="canStartGame">
            <b-form-select id="dealer-select" v-model="dealer":options="playerOptions">
               <template v-slot:first>
                  <b-form-select-option :value="null" disabled>-- {{$t('selectInitialDealer')}} --</b-form-select-option>
               </template>
            </b-form-select>
         </b-form-group>
         &nbsp; <!-- I suck at css ;-) -->
         <b-form-group v-if="canStartGame">
            <b-form-radio-group id="number-of-cards" v-model="numberOfCards">
               <b-form-radio :value="52">{{ $t('fiftyTwoCards') }}</b-form-radio>
               <b-form-radio :value="32">{{ $t('thirtyTwoCards') }}</b-form-radio>
            </b-form-radio-group>
         </b-form-group>
         <b-button v-if="canStartGame" @click="startPlaying" :disabled="!dealer" variant="primary">{{$t('prepareGame')}}</b-button>
         <b-button v-if="gameStarted" variant="primary" :href="playerUrl" target="_blank">
               {{$t('goToTable')}}
         </b-button>
      </b-form>

      <b-alert show variant="light" v-if="this.minPlayerCount > this.activePlayerCount">
         {{ $t('invitation_info', {
            minPlayerCount: minPlayerCount,
            invitationsToShare: this.minPlayerCount - this.activePlayerCount
      }) }}
      </b-alert>

       <div>
           <b-card-group deck >
               <seat :secrets="secrets" :seat="seats[1]"></seat>
               <seat :secrets="secrets" :seat="seats[2]"></seat>
               <seat :secrets="secrets" :seat="seats[3]"></seat>
           </b-card-group>
       </div>
       <br /> <!-- FIXME: There must be a better way to achieve this. -->
       <div>
           <b-card-group deck >
               <seat :secrets="secrets" :seat="seats[0]" :me="true"></seat>
               <seat :secrets="secrets" :seat="seats[5]"></seat>
               <seat :secrets="secrets" :seat="seats[4]"></seat>
           </b-card-group>
       </div>
   </div>
</template>

<script>
    import organizerApi from "../api/organizerApi";
    import tableApi from "../api/tableApi";
    import invitationApi from "../api/invitationApi";
    import routing from "../routing";
    import Seat from "./Seat";

    export default {
       name: "TableManager",
          components: {
             Seat
          },
       props: {
          lang: {
             type: String,
             required: true
          },
          tableSecret: {
             type: String,
             required: true
          },
          playerSecret: {
             type: String,
             required: true
          },
          tableId: {
             type: String,
             required: true
          },
          minPlayerCount: {
             type: Number,
             required: true
          }
       },
       data() {
           this.$i18n.locale = this.lang;
           return {
               seats: [],
               newInvitation: '',
               gameStarted: false,
               dealer: null,
               numberOfCards: 52,
               gameName: ''
           }
       },
       computed: {
           playerFields() {
              return [
                  {key: 'playerName', label: this.$t('name')},
                  {key: 'invitationUrl', label: this.$t('invitation')},
                  {key: 'invitationPrivacy', label: this.$t('privacy')}
              ]
           },
           hasPendingInvitations() {
              return this.seats.some(seat => seat.invitationUrl.trim());
           },
           playerOptions() {
             return this.seats.filter(seat => seat.playerIdentifier).map(function (player) {
                return {value: player.playerIdentifier, text: player.playerName};
             })
           },
           playerUrl() {
             return routing.getRoute('wdebelek.player', {
                tableId: this.tableId,
                playerSecret: this.playerSecret,
                _locale: this.lang
             });
           },
           gameNameState() {
             return this.gameName.length < 30 ? null : false;
           },
           videoCallUrl() {
               return routing.getRoute(
                   'wdebelek.chat', {
                       tableId: this.tableId
                   }
               )
           },
           secrets() {
               return {
                   tableSecret: this.tableSecret,
                   playerSecret: this.playerSecret
               }
           },
           activePlayerCount() {
               return this.playerOptions.length;
           },
           canStartGame() {
              return this.activePlayerCount >= this.minPlayerCount && !this.gameStarted
           }
       },
       methods: {
          // Thank you stackoverflow :-)
          generateUuid() {
             return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
             });
          },
          refreshSeats() {
             organizerApi.getPlayers(this.tableSecret).then(result => {
                this.seats = result
             })
          },
          invitePlayer() {
             let self = this;
             // FIXME: react on PlayerInvited event instead of refreshing instantly.
             invitationApi.invitePlayer(this.tableSecret, this.newInvitation, this.playerSecret, this.lang).then(result => {
                self.newInvitation = self.generateUuid();
                // Explicit refresh, because there will not be a server sent event if the table is not suspended,
                // i.e. when the deleted player wasn't playing.
                self.refreshSeats()
             })
          },
          startPlaying() {
             let self = this;

             organizerApi.prepareGame(this.tableSecret, this.dealer, this.playerSecret, this.numberOfCards).then(function() {
                self.gameStarted = true
             })
          },
          getGameState() {
             let self = this;

             tableApi.getTableState(this.tableId).then(
                     result => {
                        self.gameStarted = !result.suspended
                     }
             )
          },
          gameNameChanged() {
             organizerApi.chooseGame(this.tableSecret, this.playerSecret, this.gameName)
          },
       },
       mounted() {
          this.refreshSeats();
          this.getGameState();
       },
       created() {
          const hubUrl = tableApi.getHubUrl(this.tableId).then(
                  hubUrl => {
                     console.log('Hub at ' + hubUrl);
                     const u = new URL(hubUrl);
                     let topic = 'https://table.rijkvanafdronk.be/'+this.tableId;

                     console.log('Topic: ' + topic);

                     u.searchParams.append('topic', topic);

                     const es = new EventSource(u);
                     es.onmessage = e => {
                         let ev = JSON.parse(e.data);

                         // Since I automatically create a new invite when a player is kicked, I listen to
                         // PlayerInvited instead of PlayerKicked.
                         if (
                             ev.eventType === "App\\Domain\\WriteModel\\Table\\Event\\InvitationAccepted"
                             // || ev.eventType === "App\\Domain\\WriteModel\\Table\\Event\\PlayerKicked"
                             || ev.eventType === "App\\Domain\\WriteModel\\Table\\Event\\PlayerInvited"
                         ) {
                             this.refreshSeats();
                             this.getGameState()
                         }
                     }
                  }
          )
       }
    }
</script>

<style scoped>
h1 {
   margin-bottom: 2ex;
}
</style>
