<template>
    <b-navbar-nav>
            <span v-if="playingPlayers" v-for="n in playerTeams.length" :key="n" class="nav-link">
                <!--
                  Use @unchoose to handle a click event to show the disclosed tricks.
                  I would have preferred to use @clicked on the actual element showing the
                  number of tricks, but that doesn't play nicely with draggable, this is
                  a similar issue as #82 -->
                <draggable
                        @change="playerDragged"
                        v-model="playerTeams[n-1]"
                        group="team-members"
                        ghost-class="ghost"
                        @unchoose="unchoose"
                        :class="{'empty-team': playerTeams[n-1].length === 0}"
                >
                    <span v-for="playerId in playerTeams[n-1]" :key="playerId" :data-team="n-1" class="team-member">
                        {{getPlayerNameById(playerId)}}
                    </span>
                    <span v-if="collectedTricksDisclosed && n < playerTeams.length" :data-team="n-1" class="team-score" slot="footer">
                      <a class="disclosed" href="#">{{teamTricks[n-1]}}</a>
                    </span>
                    <span v-else :data-team="n-1" class="team-score" slot="footer">{{teamTricks[n-1]}}</span>
                </draggable>
            </span>
    </b-navbar-nav>
</template>

<script>
    import draggable from 'vuedraggable';
    import teamsApi from "../api/teamsApi";

    export default {
        name: "TrickCounter",
        components: {
            draggable
        },
        props: {
            playingPlayers: {
                type: Array,
                required: true
            },
            playerTeams: {
                type: Array,
                required: true
            },
            playerSecret: {
                type: String,
                required: true
            },
            gameId: {
                type: String,
                required: true
            },
            collectedTricksDisclosed: {
                type: Boolean,
                required: true
            }
        },
        data() {
            return {
                playerIds: this.playingPlayers.map(pl => pl.playerIdentifier)
            }
        },
        methods: {
            unchoose(event) {
              if (this.collectedTricksDisclosed) {
                let team = event.item.getAttribute('data-team');
                this.$emit('tricksClicked', team);
              }
            },
            getPlayerById(playerId) {
                return this.playingPlayers.find(pl => pl.playerIdentifier === playerId)
            },
            getPlayerNameById(playerId) {
                let player = this.getPlayerById(playerId);
                if (!player) {
                    return '?';
                }
                // I admit this is hacky:
                if (window.screen.availWidth >= 575) {
                    return player.playerName;
                }
                return player.playerName.substr(0, 3);
            },
          playerDragged(evt) {
                if (evt.added) {
                    // If a player is moved to another team, an added-event is
                    // always emitted. A removed-event as well, but we can safely
                    // ignore that.
                    teamsApi.teamUpPlayers(
                        this.gameId,
                        this.playerTeams,
                        this.playerSecret
                    )
                }
            }
        },
        computed: {
            teamTricks() {
                let self = this;
                let result = [];
                this.playerTeams.forEach(function (team, index) {
                    let sum = 0;
                    team.forEach(function (playerId) {
                        let player = self.getPlayerById(playerId);
                        if (player) {
                            sum += player.tricksWon
                        }
                    });
                    result[index] = sum;
                });
                return result;
            },
        }
    }
</script>

<style scoped>
    .ghost {
        opacity: 0.2;
    }
    .disclosed {
      background-color: white;
      border-radius: 10%;
      box-shadow: 0 4px 6px rgba(0,0,0,0.45);
      padding: 3px;
    }
</style>
