<i18n>
    {
        "en": {
            "about": "Event sourced card playing",
            "published_invitations": "Join an existing table?",
            "published_invitations_info": "These people are looking for fellow players at their tables:",
            "card_game": "Card game",
            "host_name": "Table host",
            "publication_date": "Waiting since",
            "language": "Language",
            "video_call": "Video call",
            "join": "Join table",
            "empty_table": "Start with an empty table?",
            "enter_name": "Enter your name",
            "go_to_empty_table": "Go to empty table",
            "free_seats": "{invitationCount} free seat(s)",
            "currently_playing": "Currently, there are {tableCount} active table(s).",
            "more_stats": "More stats..."
        },
        "nl": {
            "about": "Event sourced kaarttafel",
            "published_invitations": "Aansluiten bij een bestaande tafel?",
            "published_invitations_info": "Deze mensen zoeken nog extra kaarters:",
            "card_game": "Kaartspel",
            "host_name": "Gastheer/-vrouw",
            "publication_date": "Tijd",
            "language": "Taal",
            "video_call": "Videogesprek",
            "join": "Meekaarten",
            "empty_table": "Beginnen met een lege tafel?",
            "enter_name": "Uw naam a.u.b.",
            "go_to_empty_table": "Naar een lege tafel",
            "free_seats": "{invitationCount} plaats(en)",
            "currently_playing": "Momenteel wordt er gekaart aan {tableCount} actieve tafel(s).",
            "more_stats": "Statistiekjes..."
        }
    }
</i18n>

<template>
    <div>
        <div class="row">
            <div class="col">
                <h1>WDEBELEK 🍻</h1>
                <h2>{{$t('about')}}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <!--
                    This is a hack to get the url in the footer text to link to the about
                    page in the correct language.
                --->
                <b-button-group>
                    <b-button :href="getEnglishPage()" :pressed="lang==='en'">English</b-button>
                    <b-button :href="getDutchPage()"  :pressed="lang==='nl'">Nederlands</b-button>
                </b-button-group>
            </div>
        </div>

        <div v-if="welcomingTables.length">
            <div class="row">
              <div class="col">
                <h3>{{ $t('published_invitations') }}</h3>
                <p>{{ $t('published_invitations_info') }}</p>

                <b-table
                    responsive
                    :items="welcomingTables"
                    :fields="tableFields"
                    primary-key="tableIdentifier"
                >
                  <template v-slot:cell(latestInvitationPublishedAt)="data">
                    {{ formatTime(data.value) }}
                  </template>
                  <template v-slot:cell(videoCall)="data">
                    <a target="_blank" :href="videoCallUrl(data.item.tableIdentifier)"><i class="fa fa-video"></i></a>
                  </template>
                  <template v-slot:cell(join)="data">
                    <b-btn class="join-btn" :href="acceptUrl(
                                data.item.tableIdentifier,
                                data.item.language
                                )">{{ $t('free_seats', {'invitationCount': data.item.publishedInvitations.length}) }}
                    </b-btn>
                  </template>
                </b-table>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h3>{{$t('empty_table')}}</h3>
                <!-- I quickly converted a plain html form to a bootstrap-vue form.
                     This is not ideal, but it will work for now -->
                <b-form method="POST">
                    <b-form-group>
                    <label for="input-player-name">{{ $t('enter_name') }}</label>
                    <b-form-input
                        id="name"
                        name="name"
                        v-model="name"
                        maxLength="35"
                    ></b-form-input>
                    </b-form-group>
                        <input type="hidden" name="lang" :value="lang">
                    <!-- I tried to hide the button when no name was given, but this caused bug #121.
                         So for now I will just always show the submit button -->
                    <b-button type="submit" variant="primary">{{$t('go_to_empty_table')}}</b-button>
                </b-form>
            </div>
        </div>

        <div class="row">
          <div class="col">
            <b-alert :show="activeTables !== null">
              {{$t('currently_playing', {'tableCount': activeTables})}}
              <a :href="statsUrl">{{$t('more_stats')}}</a>
            </b-alert>
          </div>
        </div>

    </div>
</template>

<script>
import moment from 'moment';
import invitationApi from "../api/invitationApi";
import statsApi from "../api/statsApi";
import routing from "../routing";

export default {
    name: "Welcome",
    data() {
        return {
            'lang': 'nl',
            'welcomingTables': [],
            'name': '',
            'activeTables': null
        }
    },
    props: {
        'requestedLang': {
            type: String,
            required: false
        }
    },
    watch: {
        lang: function(val) {
            this.$i18n.locale = val;
        }
    },
    computed: {
        tableFields() {
            return [
              {key: 'join', label: this.$t('join')},
              {key: 'host', label: this.$t('host_name')},
              {key: 'language', label: this.$t('language')},
              {key: 'videoCall', label: this.$t('video_call')},
              {key: 'cardGame', label: this.$t('card_game')},
              {key: 'latestInvitationPublishedAt', label: this.$t('publication_date')},
            ]
        },
      statsUrl() {
          return routing.getRoute(
              'wdebelek.stats', {
                _locale: this.lang
              }
          )
      }
    },
    methods: {
        fetchPublishedInvitations() {
            invitationApi.getWelcomingTables().then(result => {this.welcomingTables = result})
        },
        formatTime(dt) {
            return moment(dt).format('H:mm')
        },
        videoCallUrl(tableId) {
            return routing.getRoute(
                'wdebelek.chat', {
                    tableId: tableId
                }
            )
        },
        acceptUrl(tableId, lang) {
            return routing.getRoute(
                'wdebelek.accept.public', {
                    tableId: tableId,
                    _locale: lang
                }
            )
        },
        getEnglishPage() {
            return routing.getRoute('wdebelek.start', {'_locale': 'en'})
        },
        getDutchPage() {
            return routing.getRoute('wdebelek.start', {'_locale': 'nl'})
        },
        fetchActiveTableCount() {
          statsApi.getActiveTableCount().then(result => {this.activeTables = result})
        }
    },
    created() {
        this.lang = this.requestedLang ?? 'nl';
        this.$i18n.locale = this.lang;

        this.fetchPublishedInvitations();
        this.fetchActiveTableCount();

        const hubUrl = invitationApi.getHubUrl().then(
            hubUrl => {
                const u = new URL(hubUrl);
                const topic = 'https://table.rijkvanafdronk.be';
                u.searchParams.append('topic', topic);

                const es = new EventSource(u);
                es.onmessage = e => {
                  let ev = JSON.parse(e.data);
                  console.log('Received: ' + ev.eventType);
                  switch (ev.eventType) {
                    case "App\\Domain\\WriteModel\\Table\\Event\\InvitationPublished":
                    case "App\\Domain\\WriteModel\\Table\\Event\\InvitationUnpublished":
                      this.fetchPublishedInvitations();
                      break;
                    case "App\\Domain\\WriteModel\\Game\\Event\\GameStarted":
                      this.fetchActiveTableCount();
                      break;
                  }
                }
            }
        )
    }
}
</script>

<style scoped>
  .row {
    margin-bottom: 2ex;
  }
</style>
