/* Credits to Maarten Vanachter, https://gitlab.com/goback136 */

body {
    background-color: #5f9d3d;
}

.btn-link {
    color: #123379;
    text-decoration: none;
	border-radius: 10%;
    /*background-color: #4CAF50;*/
	background-color: #89bf8b;
	border: 2px solid darkgray;
	margin: 5px !important;
	padding: 2px 20px 2px 20px !important;
}

.btn-link:hover, .btn-link:visited {
    color: #123379;
    background-color: #CEE2BC;
}


.bg-info {
	background-color: #7EB063 !important;
}

.playing-card {
	border-radius: 10%;
	background-color: #CEE2BC;
	margin: 1px;
	border-top:5px solid #C9DFB5;
	border-bottom:5px solid #C9DFB5;
	box-shadow: 0 4px 6px rgba(0,0,0,0.45);
}

.throwing-area .playing-card, .other-player-card .playing-card {
	border-top:1px solid #5D5D5D;
	border-right:1px solid #5D5D5D;
	border-left:2px solid #4C4C4C;
	border-bottom: 2px solid #4C4C4C;
	box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);   
}

.reversed-card{
	color: #5B7A97 !important;
	border: none;
	border-radius: 10%;
	border-top:2px solid #C9DFB5;
	border-bottom:2px solid #C9DFB5;
}


.winner{
	background-color: white !important;
	border: 3px solid #E3EE3E !important;
}

.my-trump, .trump{
	background-color: #E3EE3E !important;
	border-color: #E3EE3E !important;
}

a {
    color: black;
}

.col-2 {
padding-left: 5px;
padding-right: 5px;
}



.ignore-elements{
}
.revealed{
}
