{% extends 'base.html.twig' %}

{% block title %}
    {{ 'wdebelek.wdebelek'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'wdebelek.wdebelek'|trans }}</h1>
    <h2>{{ 'wdebelek.cardPlaying'|trans }}</h2>
    <p>
        <a type="button" class="btn btn-primary" href="javascript: history.go(-1)">{{ 'wdebelek.back'|trans }}</a>
    </p>

    <div>
    {{ 'wdebelek.about' | trans | markdown }}
    </div>

{% endblock %}
