{% extends 'base.html.twig' %}

{% block title %}
    {{ gameName.specified ? gameName.toString ~ ' - ' : '' }}
    {{ 'invitation.accept'|trans }} - WDEBELEK 🍻
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>WDEBELEK! 🍻</h1>
            <h2>{{ 'wdebelek.cardPlaying'|trans }}</h2>
            <p>
                {% if gameName == gameName.unspecified %}
                    {{ 'invitation.help.unspecified'|trans({
                        '%name%': hostName,
                    }) }}
                {% else %}
                    {{ 'invitation.help.specified'|trans({
                        '%name%': hostName,
                        '%cardGame%': gameName.toString
                    }) }}
                {% endif %}
                🎉🎉🎉
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form method="post">
                <div class="form-group">
                    <label for="name">{{ 'invitation.enterName'|trans }}</label>
                    <input type="text" class="form-control" name="name" id="name" maxlength="35"/>
                </div>

                <button type="submit" class="btn btn-primary">{{ 'invitation.accept'|trans }}</button>
            </form>
        </div>
    </div>
{% endblock %}
