<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('base') }}
            <style>
                .about {
                    font-size: xx-small;
                    text-align: right;
                }
            </style>
        {% endblock %}
    </head>

    <body>
        <div class="container-sm">
            {% block body %}
            {% endblock %}

            <div class="row">
                <div class="col about">
                    {{ 'about'|trans({'%aboutUrl%': path('wdebelek.about')})|markdown }}
                </div>
            </div>
        </div>

        {% block javascripts %}
            <!-- These scripts are required by Routing.js. Hacky -->
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
    </body>
</html>
