{% extends 'base.html.twig' %}

{% block title %}
    Maintenance mode - WDEBELEK.
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <p>
        The application is in maintenance mode. Please come back tomorrow.
    </p>
    <p>
        De toepassing is in onderhoudsmodus; excuses voor het ongemak. Morgen kun je weer kaarten.
    </p>
{% endblock %}
