{% extends 'base.html.twig' %}

{% block title %}
    {{ 'invitation.noSuchInvitation.title'|trans }} - {{ 'wdebelek.wdebelek'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'invitation.noSuchInvitation.title'|trans }} 😢</h1>

    <div class="alert alert-warning">
        {{ 'invitation.noSuchInvitation.help'|trans({
            '%homePageUrl%': path('wdebelek.start')
        })|markdown }}
    </div>

{% endblock %}
