{% extends 'base.html.twig' %}

{% block title %}
    Table - WDEBELEK! 🍻
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('organizer') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('organizer') }}
{% endblock %}

{% block body %}
    <div id="app">
        <table-manager
                lang="{{ locale }}"
                table-secret="{{ tableSecret }}"
                player-secret="{{ playerSecret }}"
                table-id="{{ tableId }}"
                :min-player-count="{{ minPlayerCount }}"
        ></table-manager>
    </div>
{% endblock %}
