{% extends 'base.html.twig' %}

{% block title %}
    Welcome - WDEBELEK! 🍻
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('welcome') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('welcome') }}
{% endblock %}

{% block body %}
    <div id="app">
        <welcome requested-lang="{{ lang }}"></welcome>
    </div>
{% endblock %}
