{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('stats') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('stats') }}
{% endblock %}

{% block title %}
    {{ 'wdebelek.stats'|trans }} - {{ 'wdebelek.wdebelek'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'wdebelek.wdebelek'|trans }}</h1>
    <h2>{{ 'wdebelek.stats'|trans }}</h2>
    <p>
        <a type="button" class="btn btn-primary" href="{{ path('wdebelek.start') }}">{{ 'wdebelek.toTheApp'|trans }}</a>
    </p>
    <div id="stats">
        <monthly-stats lang="{{ lang }}"></monthly-stats>
    </div>
{% endblock %}