{% extends 'base.html.twig' %}

{% block title %}
    {# Player name would be nice here #}
    {{ 'wdebelek.game'|trans }} - {{ 'wdebelek.wdebelek'|trans }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}

    {# Use hacky script to web test drag and drop #}
    <script src="https://andywer.github.io/drag-mock/drag-mock.min.js"></script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="app">
        <card-mat
                table-id="{{ tableId }}"
                lang="{{ lang }}"
                player-secret="{{ playerSecret }}"
                player-id="{{ playerId }}"
        >
        </card-mat>
    </div>
{% endblock %}
