{% block body %}

<div class="row">
    <div class="col">
        <form method="post">
            <div class="form-group">
                <label for="cardNumber">Card number</label>
                <input type="number" class="form-control" name="cardNumber" id="cardNumber" min="1" max="52" />
            </div>
            <button type="submit" class="btn btn-primary">Play</button>
        </form>
    </div>
</div>

{% endblock %}
