{% extends 'base.html.twig' %}

{% block title %}
    WDEBELEK. Work in progress.
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>WDEBELEK!</h1>
    <p>
        Als je wilt testen, dan is het wat vervelend als je iedere keer door
        <a href="{{ path('wdebelek.start') }}">de procedure van het uitnodigen</a> moet,
        en daarom staan er 2 tafels klaar om wat mee te testen. Eentje waarbij ieder 13 kaarten heeft:
    </p>
    <ul>
        <li><a href="{{ path('wdebelek.player', {
            _locale: 'nl',
            tableId: '113fe05c-5918-5422-8efb-7515d94591db',
            playerSecret: '46d2015e-2f98-48aa-bf05-0b27f6707b20'
            }) }}">secretaris</a></li>
        <li><a href="{{ path('wdebelek.player', {
                _locale: 'nl',
                tableId: '113fe05c-5918-5422-8efb-7515d94591db',
                playerSecret: 'e0fd006c-becb-4344-96c7-7426caafafdc'
            }) }}">dtl</a></li>
        <li><a href="{{ path('wdebelek.player', {
                _locale: 'nl',
                tableId: '113fe05c-5918-5422-8efb-7515d94591db',
                playerSecret: 'c99f0f58-7895-44c3-a10e-e8ac2154aaa1'
            }) }}">dpb</a></li>
        <li><a href="{{ path('wdebelek.player', {
                _locale: 'nl',
                tableId: '113fe05c-5918-5422-8efb-7515d94591db',
                playerSecret: '5e33f0b0-4081-414f-bd6f-b13ec2cf8311'
            }) }}">ddb</a></li>
    </ul>
    <p>
        Eentje met 8 kaarten per persoon, want dat soort spelletjes zal ook ondersteund worden:
    </p>
    <ul>
        <li><a href="{{ path('wdebelek.player', {
                _locale: 'nl',
                tableId: 'd70ac5e1-955a-5829-9c78-be7485ffc5a5',
                playerSecret: '46d2015e-2f98-48aa-bf05-0b27f6707b20'
            }) }}">secretaris</a></li>
        <li><a href="{{ path('wdebelek.player', {
                _locale: 'nl',
                tableId: 'd70ac5e1-955a-5829-9c78-be7485ffc5a5',
                playerSecret: 'e0fd006c-becb-4344-96c7-7426caafafdc'
            }) }}">dtl</a></li>
        <li><a href="{{ path('wdebelek.player', {
                _locale: 'nl',
                tableId: 'd70ac5e1-955a-5829-9c78-be7485ffc5a5',
                playerSecret: 'c99f0f58-7895-44c3-a10e-e8ac2154aaa1'
            }) }}">dpb</a></li>
        <li><a href="{{ path('wdebelek.player', {
                _locale: 'nl',
                tableId: 'd70ac5e1-955a-5829-9c78-be7485ffc5a5',
                playerSecret: '5e33f0b0-4081-414f-bd6f-b13ec2cf8311'
            }) }}">ddb</a></li>
    </ul>
    <p>
        En nog 1 met 13 kaarten, maar met 6 spelers.
    </p>
    <ul>
        <li>
            <a href="{{ path('wdebelek.table', {
                _locale: 'nl',
                tableSecret: 'ecd06a10-5ea3-479d-bbae-c64434d07a47',
                playerSecret: '46d2015e-2f98-48aa-bf05-0b27f6707b20'
            }) }}">(beheerderslink secretaris)</a>
        </li>
        <li><a href="{{ path('wdebelek.player', {
                _locale: 'nl',
                tableId: 'ae4d6716-c918-5ed2-a166-c24d4263cee2',
                playerSecret: '46d2015e-2f98-48aa-bf05-0b27f6707b20'
            }) }}">secretaris</a></li>
        <li><a href="{{ path('wdebelek.player', {
                _locale: 'nl',
                tableId: 'ae4d6716-c918-5ed2-a166-c24d4263cee2',
                playerSecret: 'ce29fba8-a25e-4ed6-abdf-3128daf90542'
            }) }}">penningmeester</a></li>
        <li><a href="{{ path('wdebelek.player', {
                _locale: 'nl',
                tableId: 'ae4d6716-c918-5ed2-a166-c24d4263cee2',
                playerSecret: '0ae2962c-9cf9-4e6b-a29b-231885207ebe'
            }) }}">diu</a></li>
        <li><a href="{{ path('wdebelek.player', {
                _locale: 'nl',
                tableId: 'ae4d6716-c918-5ed2-a166-c24d4263cee2',
                playerSecret: 'e0fd006c-becb-4344-96c7-7426caafafdc'
            }) }}">dtl</a></li>
        <li><a href="{{ path('wdebelek.player', {
                _locale: 'nl',
                tableId: 'ae4d6716-c918-5ed2-a166-c24d4263cee2',
                playerSecret: 'c99f0f58-7895-44c3-a10e-e8ac2154aaa1'
            }) }}">dpb</a></li>
        <li><a href="{{ path('wdebelek.player', {
                _locale: 'nl',
                tableId: 'ae4d6716-c918-5ed2-a166-c24d4263cee2',
                playerSecret: '5e33f0b0-4081-414f-bd6f-b13ec2cf8311'
            }) }}">ddb</a></li>
    </ul>
    <p>
        Je kunt tegenwoordig zelfs met z'n drieën kaarten!
    </p>
    <ul>
        <li><a href="{{ path('wdebelek.table', {
            _locale: 'nl',
            tableSecret: 'bfd90382-446a-45ea-b396-63d40998548f',
            playerSecret: 'e0fd006c-becb-4344-96c7-7426caafafdc'
            }) }}">(beheerderslink dtl)</a></li>
        <li><a href="{{ path('wdebelek.player', {
                _locale: 'nl',
                tableId: '9b9b2e23-ae06-5bc2-92fa-8a957f53a71c',
                playerSecret: '5e33f0b0-4081-414f-bd6f-b13ec2cf8311'
            }) }}">ddb</a></li>
        <li><a href="{{ path('wdebelek.player', {
                _locale: 'nl',
                tableId: '9b9b2e23-ae06-5bc2-92fa-8a957f53a71c',
                playerSecret: 'e0fd006c-becb-4344-96c7-7426caafafdc'
            }) }}">dtl</a></li>
        <li><a href="{{ path('wdebelek.player', {
                _locale: 'nl',
                tableId: '9b9b2e23-ae06-5bc2-92fa-8a957f53a71c',
                playerSecret: 'c99f0f58-7895-44c3-a10e-e8ac2154aaa1'
            }) }}">dpb</a></li>
    </ul>
{% endblock %}
